.container {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #00ff41;
}

.spinner-border {
  margin-top: 25px;
}

clock {
  text-align: center;
  font-size: 30px;
}
