.top-part {
  display: flex;
  justify-content: center;
  position: relative;
}
h1 {
  text-align: center;
}
i {
  position: absolute;
  left: 0;
}
.centered {
  text-align: center;
}
.card {
  margin: 10px;
}
