.top-part {
  display: flex;
  justify-content: center;
  position: relative;
}
h1 {
  text-align: center;
}
.bi-exclamation-circle {
  position: absolute;
  left: 0;
}
.bi-gear {
  position: absolute;
  right: 0;
}
.centered {
  text-align: center;
}
.card {
  margin: 10px;
}
.bi-gear:hover {
  cursor: pointer;
}
.card-title {
  margin: 0px 30px;
}
.desc {
  margin: 20px 35px;
}
