.card-header {
  background-color: black;
  color: #00ff41;
  border-color: #00ff41;
}

input,
button,
.card {
  background-color: black;
  border-color: #00ff41;
  color: #00ff41;
}

input:focus {
  background-color: black;
  cursor: #00ff41;
  color: #00ff41;
}

label {
  color: #00ff41;
}

button:hover {
  background-color: #202020;
}
