.card-header {
  display: flex;
  justify-content: space-between;
}

.top-part {
  display: flex;
  justify-content: center;
  position: relative;
}
h1 {
  text-align: center;
}

#achievement-form {
  margin: 20px;
}

.column {
  justify-content: space-between;
  width: 50%;
}

.list-group-item {
  justify-content: space-between;
  display: inline-flex;
}

.list-group-item div {
  margin: auto 0px;
}

input[type="text"],
input[type="number"],
select {
  width: 50%;
}

.form-check-input {
  flex-shrink: 0;
}

.col-6 {
  margin: auto;
}

.column {
  justify-content: space-between;
  width: 50%;
}

.list-group-item {
  justify-content: space-between;
  display: flex;
}

.col-6 {
  margin: auto;
}
