/* You can add global styles to this file, and also import other style files */

html {
  background-color: black;
}

.name {
  font-weight: bold;
}
.title {
  text-align: center;
}

.team-number {
  color: #008f11;
}

#profile {
  margin-top: 3em;
}

#profile .flex {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  text-align: left;
  margin-bottom: 2em;
}

#profile .flex .item {
  display: flex;
  align-items: center;
}

#profile .flex img {
  width: 20%;
  border-radius: 50%;
}

#profile .flex .info {
  padding: 1em;
}

.nav-link {
  color: #00ff41;
}

.nav-link:hover {
  color: #008f11;
}

.card-header {
  background-color: black;
  color: #00ff41;
  border-color: #00ff41;
}

input,
button,
.card {
  background-color: black;
  border-color: #00ff41;
  color: #00ff41;
}

input:focus {
  background-color: black;
  cursor: #00ff41;
  color: #00ff41;
}

label {
  color: #00ff41;
}

button:hover {
  background-color: #202020;
}
